[alias]
  s = status
  ow = show
  ra = remote add
  rao = remote add origin
  rs = remote set-url
  rso = remote set-url origin
  rp = remote prune --dry-run
  rP = remote prune
  p = push
  pu = push -u
  ll = pull
  llr = pull --rebase
  ft = fetch
  rbm = rebase master
  rbi = rebase -i
  rbir = rebase -i --root
  a = add
  ap = add -p
  ad = add
  adm = "!f() { git ls-files -m | xargs git add ; }; f"
  c = commit
  cm = commit
  empty-commit= commit --allow-empty --allow-empty-message -m 'Init'
  co = checkout
  rpar = rev-parse --abbrev-ref HEAD
  codb= "!f() { bash -c '\
    url=$(git ls-remote --get-url); \
    default_branch=$(git ls-remote --symref $url | head -n1 | cut -d/ -f3 | cut -f1 ); \
    git checkout ${default_branch} > /dev/null \
      && git branch -d $0 \
      && git checkout -b $0 ; \
  ' $1 ; }; f"
  ours = git checkout --ours
  theirs = git checkout --theirs
  br = branch
  ba = branch -a
  bm = branch --merged
  bn = branch --no-merged
  back = reset --hard HEAD~1
  wc = whatchanged
  ls = log --pretty=oneline
  lsa = log --stat
  lp = log -p
  l- = log --pretty=oneline -1
  l-- = log --pretty=oneline -2
  l--- = log --pretty=oneline -3
  l---- = log --pretty=oneline -4
  l----- = log --pretty=oneline -5
  df = diff master
  ds = diff --staged
  gr = grep -n
  # mergeの際にconflictが起きたファイルを編集
  edit-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; vim `f`"
  # mergeの際にconflictが起きたファイルをadd
  add-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"
  uisk = "!f() { F=$(find . -type d -name .git -prune -or -type d -name node_modules -prune -or -name $1 -print); git update-index --skip-worktree $F && git ls-files -v $F; }; f"
  uinsk = "!f() { F=$(find . -type d -name .git -prune -or -type d -name node_modules -prune -or -name $1 -print); git update-index --no-skip-worktree $F && git ls-files -v $F; }; f"
