[user]
  name = nju33
  email = nju33.ki@gmail.com
[alias]
  s = status
  st = status
  sh = show
  p = push
  pu = push -u
  ft = fetch
  rbm = rebase master
  rbi = rebase -i
  rbir = rebase -i --root
  a = add
  ad = add
  adm = "!f() { git ls-files -m | xargs git add ; }; f"
  c = commit
  cm = commit
  co = checkout
  ours = git checkout --ours
  theirs = git checkout --theirs
  br = branch
  ba = branch -a
  bm = branch --merged
  bn = branch --no-merged
  wc = whatchanged
  ls = log --stat
  lp = log -p
  l- = log --pretty=oneline
  df = diff master
  ds = diff --staged
  gr = grep -n
  # mergeの際にconflictが起きたファイルを編集
  edit-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; vim `f`"
  # mergeの際にconflictが起きたファイルをadd
  add-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"
